<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Incunabula!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="ui header">
        <nav role="navigation">
          <div class="ui six item menu">
              <a href="/" class="item logo">
              <img src="/images/female-baby-head.svg" alt="logo">
            </a>
            <a href="/books" class="item">Books</a>
            <a href="/promos" class="item">Promos</a>
            <a href="/admin" class="item">Admin</a>
            <a href="http://github.com/gordonguthrie/incunabula" class="item">
              download from GitHub
            </a>
            <%= if @current_user do %>
            <a href="/logout" class="item">Logout</a>
            <% else %>
            <a href="/login" class="item">Login</a>
            <% end %>
          </div>
        </nav>
      </header>
      <div>
        <div class="incunabula-body ">
          <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
          <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
          </div>

      <main role="main" class="incunabula-body">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
