@import "../vendor/semantic/semantic.min.css";

@import "slick.css";
@import "slick-theme.css";

/*                 */
/* Site overrides  */
/*                 */

html, body {
  padding: 0;
  margin: 0;
  background: rgba(254, 254, 254, 1);
}


.incunabula-body, .incunabula-alerts {
    max-width: 700px;
    margin:    auto;
}

main {
    padding:   20px;
}

.grid ul {
    padding-left: 15px;
}

.alert-info {
    color: orange;
}

.alert-danger {
    color: red
}

/*              */
/* Custom stuff */
/*              */

body.pushable {
  background-color: white !important;
}

.incunabula-logo {
    font-size:   3em;
    text-shadow: 1px 1px 0px rgb(255, 255, 255), 2px 2px 0px rgb(120, 120, 120);
}
/*                                           */
/* make the alerts disappear when no message */
/*                                           */

.alert-info:empty, .alert-danger:empty {
                       display:none;
                   }

// keep the alerts padded left the same as main
// keep their height fixed so the main body doens't flash on error
.alert-info, .alert-danger {
    height:       2em;
    padding-left: 20px;
}

/*                        */
/* Resizing the text area */
/*                        */

#incunabula-eiderdown > textarea {
    height:   100%;
}

// hide the text area in the form for saving edits
.incunabula-edits-hidden, button .incunabula-edits-hidden {
    display: none;
}

// tone down the edit buttons a bit
.incunabula-bound.edit {
    color: rgba(169, 169, 169, 0.8);
}

//
// fade some text back
//
// this is knicked from the colour of the semantic meta tag in cards
// should prolly be in their CSS somehow, but halfwit me, yeah?
.incunabula-grey {
    color: rgba(0, 0, 0, 0.4);
}

// gonnae mark chaff slightly differently
.incunabula-chaff {
    color: rgba(75, 0, 130, 0.5)
}

/*                         */
/* Media queries and stuff */
/*                         */

// this breakpoint is also used in the javascript that resizes the
// text area in the chapter editing screen on window resize
// - change it here you must also change it there
@media only screen and (max-width: 700px) {

#incunabula-eiderdown > textarea {
    min-height: 900px;
}


}
