<h2 class="ui header">Admin</h2>

<table class="ui striped table">
  <tr>
    <td><strong>Users</strong></td>
    <td>
      <%= hd(@users) %>
    </td>
  </tr>
  <%= for u <- tl(@users) do %>
      <tr>
        <td></td>
        <td>
          <%= u %>
        </td>
      </tr>
      <% end %>
</table>
