<h2 class="ui header">Admin</h2>

    <td>Users</td>
    <td>
      <%= hd(@users) %>
    </td>
  </tr>
  <%= for u <- tl(@users) do %>
      <tr>
        <td></td>
        <td>
          <%= u %>
        </td>
      </tr>
      <% end %>
</table>
