<table class="ui striped table">
<%= if @books != [] do %>
  <%= for {title, slug} <- @books do %>
    <tr>
      <td>
        <a href="<%= "/books/" <> slug %>" alt="<%= title %>"><%= title %></a>
      </td>
    </tr>
    <% end %>
<% else %>
    <tr>
      <td>There are no books</td>
    </tr>
<% end %>
</table>
