<%= if @images == [] do %>
<p>There are no images to show</p>
<% else %>
<table class = "ui striped table">
  <%= for i <- @images do %>
      <tr>
        <td><%= i.title %></td>
        <td><small>(original filename: <%= i.original_name %>)</td>
        <td><div><img src='<%= "/books/" <> @slug <> "/images/" <> i.image_slug %>' alt='<% i.title %>'></div></td>
      </tr>
      <% end %>
</table>
<% end %>
