<%= if @reviews == [] do %>
<p>There are no reviews to show</p>
<% else %>
<table class="ui striped table">
  <%= for r <- @reviews do %>
      <tr>
        <td>
          <a href="/books/<%= @slug %>/reviews/<%= r.review_slug %>"><%= r.review_title %></a>
        </td>
        <td><%= r.review_status %></td>
      </tr>
      <% end %>
</table>
<% end %>
