<table class="ui striped unstackable table">
    <thead>
      <tr>
        <th>User</th>
        <th></th>
      </tr>
    </thead>
<%= for u <- @users do %>
    <tr>
     <td><%= u %></td>
     <td class="right aligned">
       <%= if u != "admin" do %>
       <div data-post="/admin/deleteuser/<%= u %>">
         <i class="trash outline icon"></i>
       </div>
         <% end %>
     </td>
   </tr>
<% end %>
</table>
