<h2>
     <%= @reviewtitle %>
</h2>
<p>
  a review of a chapter in the book <em><a href="/books/<%= @slug %>"><%= @title %></em></a>
</p>
<p>
  This review is locked for editing by you on a different device. This lock will clear in a matter of seconds.
</p>
